.cargaSpinner {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.circleA {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: circleBottom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circleB {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-tercero);
    transform: translate(0px, -150px);
    animation-name: cirleTop;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circleBottom {

    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 150px);
    }

}

@keyframes cirleTop {

    0% {
        transform: translate(0px, -150px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}